@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800,900&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
    outline: none!important;
  color: #231e18;
  box-sizing: border-box
}

* :hover { 
  outline: none!important;
  text-decoration: none!important;
}

li {
  list-style: none;
}

*:focus {
  outline: none!important;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.padding-top-bottom {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.title-section {
  font-weight: 700;
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 4rem;
  text-align: center;
}

.title-section::before {
  content: '';
  position: absolute;
  background-color: #99cc00;
  width: 10%;
  height: 4px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* NAVBAR */
.logo-responsive {
  display: none;
}
.nav-custom {
  color: #35251f!important;
  padding-top: 0;
  transition: .5s;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0;
  padding-left: 0!important;
  padding-right: 2rem!important;
}

.nav-custom:hover {
  color: #99cc00!important;
  transition: .5s;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img{
  width: 6rem;
}

#navbarsExampleDefault {
  justify-content: flex-end;
}

/* BANNER */

.mask-banner {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #00000061;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-banner {
  height: 100vh;
  position: relative;
}

.item-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-banner {
  color: #fff;
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
}

.slick-dots {
  bottom: 1rem;
}

.slick-dots li button:before {
  height: 14px;
  background: #99cc00;
  content: ''!important;
  border-radius: 50%;
  width: 14px;
}

.item-home {
  height: 29rem;
  box-shadow:0 5px 14px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;

}

.item-home:hover .title-item {
  color: #99cc00;
  transition: .5s;
}

.body-item {
  padding: 1rem;
  height: 35%;;
}

.title-item {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  font-weight: 600;
  margin: 1rem 0;
  transition: .5s;

}

.img-item {
  width: 100%;
  height: 55%;
  background-size: cover;
  background-position: center;
}
.description-item {
  font-size: 1rem !important;
  text-align: center !important;
  height: 6rem !important;
  display: flex !important;
  align-items: center !important;
  object-fit: cover;
}

.description-item p{
  font-size: 1rem !important;
  text-align: center !important;
  height: 6rem !important;
  display: flex !important;
  align-items: center !important;
  object-fit: cover;
}

.box-card {
  padding: 0 1.5rem;
  margin-bottom: .5rem;
}

.slick-prev:before {
  content: '\f100';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 3rem;
  color: #99cc00;
}

.slick-next:before {
  content: '\f101';
  font-size: 3rem!important;
  color: #99cc00;
  font: normal normal normal 14px/1 FontAwesome;
}

.template-btn {
  color: #fff !important;
  padding: .5rem 3rem !important;
  background-color: #99cc00 !important;
  font-weight: 600 !important;
}

.template-btn:hover {
  color: #fff!important;
}

.ul-about li {
  font-size: 1.2rem;
}

.ul-about {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: center;
}

.ul-about i {
  color: #9c0;
  margin-right: .5rem;
}

.info-extra img {
  width: 100%;
}

.card-info {
  background: #f3f3f3;
}

.icon-card img {
  width: 6rem;
}

.icon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-first {
  border: .2rem solid #9c0;
  padding: 1.5rem;
  background: #fff;
}

/* FOOTER */

footer {
  background: #231e18;
}

footer .title-section {
  color: #fff;
}

.form-control:focus {
  border-color: #99cc00!important;
  box-shadow: none!important;
}

.item-footer {
  margin-top: 4rem;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.item-footer li, .item-footer a{
  color: #fff;
  text-align: center;
}

.item-footer i {
  color: #fff;
  margin-right: .5rem;
}

.powered {
  background: #f3f3f3;
}

.powered p {
  /* color: #fff; */
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
  padding: .5rem;
  font-size: 1rem;
}


/* VIEW ABOUT */

.media-banner {
  position: relative;
  height: 20rem;
  background-color: #f3f3f3;
  background-image: url(../img/media-banner.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description-general {
  font-size: 1.1rem;
}

.history {
  background: #f3f3f3;
}

/* VIEW UBICATION */

.map-img {
  width: 100%;
}

.ubication .description-item {
  height: 11rem;
  display: block;
}

.col-map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* VIEW ROAD */
.road .title-section {
  text-align: initial;
}

.road .title-section::before{
  left: 0;
  transform: initial;
}

.anexo {
  background-color: #f3f3f3;
}

.item-anexo {
  padding: 0 2rem;
}
.item-anexo img {
  height: 21rem;
  width: 100%;
  object-fit: cover;
}

.description-anexo {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.1rem;
}

.carousel-anexo .slick-prev, .carousel-anexo  .slick-next {
  top: 34%;
}

/* VIEW GALLERY */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #00997B;
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}

.grid-item--width2 { width: 340px; }
.grid-item--w.form-groupdth3 { width: 520px; }
.grid-item--w.form-groupdth4 { width: 780px; }

.grid-item--h.form-groupight2 { height: 200px; }
.grid-item--h.form-groupight3 { height: 260px; }
.grid-item--h.form-groupight4 { height: 360px; }

.carousel-anexo  ul.slick-dots {
  bottom: -2rem!important;
}
/* VIEW PLANS */  

.container-maps, .container-maps iframe {
  width: 100%;
}

.form-group {
  margin-bottom: 0!important;
}
/*SCROLLBAR*/
::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}


/* MEDOAS QUERIES */

@media screen and (min-width: 0px) and (max-width: 997px) {
  html {
    font-size: 13px;
  }

  .title-banner {
    font-size: 3rem;
  }

  .ul-about {
    text-align: center;
  }
  .ul-about li {
    margin: .5rem 0;
  }

  .card-first {
    margin-bottom: 3rem;
  }

  .item-footer {
    display: block;
  }

  .info-extra img  {
    margin-top: 3rem;
  }

  .description-general {
    text-align: center;
  }

  .road .title-section {
    text-align: center;
  }

  .road .title-section::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .description-item {
    min-height: 8rem!important;
  }
  .description-item-p {
    min-height: 8rem!important;
    padding: 0 !important;
  }

  .ubication .map-img {
    margin-bottom: 3rem;
  }

  .about img {
    margin-top: 3rem;
  }

  .carousel-anexo  ul.slick-dots {
    bottom: -2rem!important;
}

.multiple-items .slick-next {
  right: -6px;
}

.multiple-items .slick-prev {
  left: -6px;
}
  

}